* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
body {
    background: #333;
    color: #000;
    font-family: Calibri, Arial, sans-serif;
    font-size: 150%;
    margin: 0; /* keep this */
}
#cougar {
  background: #B26219;
  padding-top: 4em;
  clear: both;
}
#lion {
  background: #FFBD82;
padding-top: 4em;
}
#tiger{
  background: #FFD5AE;
  padding-top: 4em;
}
article {
  background: #FFF;
  width: 600px;
  margin: 0 auto;
  padding: 1em 2em;
}

h2, section > p {
  text-align: center;
}
section {
  margin-top: 0;
}
img {
  display: block;
  margin: 0 auto;
}
footer {
  text-align: center;
  padding: .5em;
  color: #FFF;
}
h1 {
  color: #FFF;
  position: fixed;
  margin: 0;
  top: 0;
  left: 0;
  width: 40%;
  padding: 25px 1em;
  height: 100px;
  float: left;
  background: #333;
}


/*nav styles*/


li a {
  display: block;
  text-decoration: none;
  padding-top: 40px;
}
nav {
  margin: 0;
  width: 60%;
  position: fixed;
  top: 0;
  right: 0;
  height: 100px;
  background: #333;
  float: left;
  /*how can i make text show up in center of block? text-align: center; margin: 0 auto; didnt work*/
}
nav ul {
  list-style: none;
  margin-top: 0;
}

nav li {
  float: left;
  margin: 0 3em;
}


/* ----- suggested colors -----
   B26219 cinnamon
   FFD5AE pale peach
   FFBD82 peach
   379CB2 medium blue
   82E8FF light blue

   ----- neutral colors -----
   000 black
   333 charcoal
   666 dark medium gray
   999 light medium gray
   ccc pale gray
   fff white
*/


/* --- links and nav --- */

a { color: #379CB2; }
a:hover { color: #82E8FF; }
